$font: Helvetica, sans-serif;
$main-color: white;
$main-background-color: #80D9FF;
$header-background-color: #4DC9FF;
$body-background-color: #00B2FF;
$hover-background-color: white;
$hover-color: #4DC9FF;
$nav-font-size: 40px;
$main-font-size: 30px;
$base-padding: 10px;

body {
    background-color: $body-background-color;
    font-family: $font;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    background-color: $hover-background-color;
    color: $hover-color;
}

#wrapper {
    max-width: 800px;
    text-align: center;
    padding-left: 30%;
    
    ul {
        list-style-type: none;
        
        li {
            background-color: $main-background-color;
        }
    }
}

header {
    color: $main-color;
    background-color: $header-background-color;
    
    nav {
        text-align: center;
        a {
            color: $main-color;
            font-size: $nav-font-size;
            font-weight: bold;
        }
    }
}

main {
    color: $main-color;
    font-size: $main-font-size;
    
    img {
        float: right;
        height: 40%;
        padding-right: $base-padding;
    }
    
    #generalInfo, #favoriteVideoGames {
        h3 {
            text-align: center;
        }
        width: 40%;
        background-color: $main-background-color;
        padding-left: $base-padding;
        padding-bottom: $base-padding;
    }
}

footer {
    .fb-share-button {
        float: right;
    }
    
    a {
        color: $main-color;
    }
    clear: both;
    height: 100px;
    background-color: $main-background-color;
    margin-top: 20px;
}